@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

$font1: 'Gowun Dodum', serif;
$font2: 'Gideon Roman', sans-serif;
$font3: 'Merienda', cursive;
