@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

body {
  min-height: 50vh;
  background-image: url("./image/texture_pink2_2048.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3 {
  font-family: "Gideon Roman", sans-serif;
  font-size: 35px;
  color: #018D8C;
  text-align: center;
}

.page-wrapper {
  background-color: #fed6e173;
  width: 80%;
  margin: 0 auto;
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .page-wrapper {
    background-color: #fed6e198;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 2fr;
        grid-template-columns: 5fr 2fr;
  }
}

@media only screen and (min-width: 1024px) {
  .page-wrapper {
    background-color: transparent;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 2fr;
        grid-template-columns: 6fr 2fr;
  }
}

@media only screen and (min-width: 1600px) {
  .page-wrapper {
    background-color: transparent;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 2fr;
        grid-template-columns: 6fr 2fr;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

header h1 {
  font-family: "Merienda", cursive;
  font-size: 3rem;
  color: #1ac6ff;
  text-shadow: 1px 1px 2px #018D8C, 2px 2px 2px #CE0052;
}

header h2 {
  font-family: "Gowun Dodum", serif;
  font-size: 2.5rem;
  color: #F07798;
  text-shadow: 2px 2px 2px #CE0052, 2px 2px 2px #373135, 2px 2px 2px #FED6E1;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

header h2 abbr {
  color: white;
  font-family: "Merienda", cursive;
  text-shadow: 3px 3px 3px #CE0052, 3px 3px 3px #F07798, 3px 3px 3px #FED6E1;
}

@media only screen and (min-width: 768px) {
  header {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-right: 1em;
  }
  header h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
  }
  header h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
  }
  header abbr {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding-right: 1em;
  }
  header h1 {
    text-align: center;
    margin: 0;
    font-size: 5rem;
    padding: 0.5rem;
  }
  header h2 {
    text-align: center;
    margin-top: 0;
    font-size: 4rem;
    letter-spacing: 1rem;
  }
  header abbr {
    font-size: 5rem;
  }
}

p {
  font-family: "Gowun Dodum", serif;
}

.summary::before {
  content: url(./image/eye1.png);
  zoom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .summary::before {
    zoom: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .summary::before {
    zoom: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1.5rem;
  }
}

.summary {
  margin: 1rem;
}

.summary p {
  text-transform: uppercase;
  text-align: justify;
  font-weight: bold;
  padding: 0.5rem;
  color: #373135;
}

.summary p abbr {
  font-size: 1.5rem;
  color: #FED6E1;
  text-shadow: 2px 2px 2px #F07798;
}

.summary p a {
  color: #018D8C;
  text-shadow: 1px 1px 1px #373135;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .summary p {
    text-align: left;
    padding: 0 2px;
  }
}

.preamble::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .preamble::before {
    content: url(./image/brush.png);
    zoom: 16%;
    width: 32%;
    position: absolute;
    left: -50rem;
    top: -20rem;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.preamble {
  margin-top: 1em;
  margin-bottom: 0;
  padding: 1rem;
  border: 10px ridge #373135;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
  background-image: url("https://live.staticflickr.com/2389/1571741969_44af337500_c.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-backdrop-filter: grayscale(30%) brightness(50%);
          backdrop-filter: grayscale(30%) brightness(50%);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.preamble h3 {
  color: #CE0052;
  text-shadow: 1.5px 1.5px 2px #FED6E1;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.preamble p {
  color: #1ac6ff;
  text-shadow: 1.5px 1.5px 1px #373135;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  font-weight: bold;
}

.explanation,
.participation,
.benefits,
.requirements {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 1rem;
}

.explanation h3,
.explanation p,
.participation h3,
.participation p,
.benefits h3,
.benefits p,
.requirements h3,
.requirements p {
  padding: 0 2px 0 2px;
  margin: 0;
}

.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  background-color: black;
  border: 10px ridge #373135;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

@media only screen and (min-width: 1024px) {
  .main {
    border: 15px ridge #373135;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1600px) {
  .main {
    border: 15px ridge #373135;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.explanation {
  width: 80%;
  height: auto;
  margin: 4% auto;
  padding: auto;
  background-color: rgba(227, 228, 229, 0.9);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(227, 228, 229, 0.8);
  outline: 5px solid rgba(227, 228, 229, 0.8);
  outline-offset: -7px;
}

.explanation h3,
.explanation abbr,
.explanation a {
  color: rgba(227, 228, 229, 0.8);
  text-shadow: 1px 1px 2px #373135;
}

.explanation abbr {
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .explanation {
    padding: auto;
  }
}

@media only screen and (min-width: 1024px) {
  .explanation {
    width: 90%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media only screen and (min-width: 768px) {
  .participation::before {
    content: url(./image/labial2.png);
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    zoom: 50%;
    width: 32%;
    position: absolute;
    left: 45rem;
    top: 15rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.participation {
  width: 80%;
  height: auto;
  margin: 4% auto;
  padding: auto;
  background-color: rgba(26, 198, 255, 0.9);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(26, 198, 255, 0.5);
  outline: 5px solid rgba(26, 198, 255, 0.7);
  outline-offset: -7px;
}

.participation h3,
.participation abbr,
.participation a {
  color: rgba(26, 198, 255, 0.8);
  text-shadow: 1px 1px 2px #373135;
}

.participation abbr {
  font-size: 1.3rem;
}

.participation a {
  color: #018D8C;
  text-decoration: none;
  text-shadow: 1px 1px 1px #373135;
}

@media only screen and (min-width: 768px) {
  .participation {
    max-width: 580px;
  }
}

@media only screen and (min-width: 1024px) {
  .participation {
    width: 90%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.benefits {
  width: 80%;
  height: auto;
  margin: 4% auto;
  padding: auto;
  background-color: rgba(255, 102, 255, 0.85);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 102, 255, 0.5);
  outline: 5px solid rgba(255, 102, 255, 0.7);
  outline-offset: -7px;
}

.benefits h3,
.benefits abbr {
  color: rgba(255, 102, 255, 0.8);
  text-shadow: 1px 1px 1px #373135;
}

.benefits abbr {
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .benefits {
    width: 94%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  .benefits {
    width: 94%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.requirements {
  width: 80%;
  height: auto;
  margin: 4% auto;
  padding: auto;
  background-color: rgba(190, 158, 94, 0.85);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 2px solid rgba(190, 158, 94, 0.5);
  outline: 5px solid rgba(190, 150, 94, 0.7);
  outline-offset: -7px;
}

.requirements h3,
.requirements abbr,
.requirements a {
  color: rgba(190, 150, 94, 0.8);
  text-shadow: 1px 1px 2px #373135;
}

.requirements abbr {
  font-size: 1.3rem;
}

.requirements a {
  color: #018D8C;
  text-decoration: none;
  text-shadow: 1px 1px 1px #373135;
}

@media only screen and (min-width: 1024px) {
  .requirements {
    width: 94%;
    margin: 1% auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media only screen and (min-width: 1600px) {
  .requirements {
    width: 94%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

.sidebar {
  background-image: url("./image/bokeh-_640.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gowun Dodum", serif;
  margin: 0 -1.2rem;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 18;
    grid-row: 1/19;
    margin: 0;
  }
}

.wrapper {
  padding: 1rem;
  font-size: 0.9rem;
  color: #373135;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    height: 140rem;
  }
}

.wrapper nav {
  background-color: transparent;
}

.wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0.7rem;
  margin: 0;
}

.wrapper nav ul li {
  border: solid 1px 1px #CE0052;
}

.wrapper nav ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .wrapper nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0.5rem;
  }
  .wrapper nav nav ul li {
    border: solid 1px 1px #CE0052;
  }
  .wrapper nav nav ul li a {
    text-decoration: none;
    padding: 0.2rem;
  }
}

.select,
.archives,
.resources {
  cursor: default;
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Gideon Roman", sans-serif;
  text-transform: uppercase;
  color: #CE0052;
  font-size: 1.3rem;
  text-align: center;
  line-height: 40px;
  -webkit-animation: move linear 2000ms infinite;
          animation: move linear 2000ms infinite;
}

@media only screen and (min-width: 1024px) {
  .select,
  .archives,
  .resources {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .select,
  .archives,
  .resources {
    font-size: 1.8rem;
  }
}

@-webkit-keyframes move {
  0% {
    text-shadow: 2.5px -2.5px 0 #F07798, 2px -2px 0 #F07798, 1.5px -1.5px 0 #F07798, 1px -1px 0 #F07798, -2.5px 2.5px 0 #FED6E1, -2px 2px 0 #FED6E1, -1.5px 1.5px 0 #FED6E1, -1px 1px 0 #FED6E1;
  }
  25% {
    text-shadow: -2.5px -2.5px 0 #FED6E1, -2px -2px 0 #FED6E1, -1.5px -1.5px 0 #FED6E1, -1px -1px 0 #FED6E1, 2.5px 2.5px 0 #F07798, 2px 2px 0 #F07798, 1.5px 1.5px 0 #F07798, 1px 1px 0 #F07798;
  }
  50% {
    text-shadow: -2.5px 2.5px 0 #F07798, -2px 2px 0 #F07798, -1.5px 1.5px 0 #F07798, -1px 1px 0 #F07798, 2.5px -2.5px 0 #FED6E1, 2px -2px 0 #FED6E1, 1.5px -1.5px 0 #FED6E1, 1px -1px 0 #FED6E1;
  }
  75% {
    text-shadow: 2.5px 2.5px 0 #FED6E1, 2px 2px 0 #FED6E1, 1.5px 1.5px 0 #FED6E1, 1px 1px 0 #FED6E1, -2.5px -2.5px 0 #F07798, -2px -2px 0 #F07798, -1.5px -1.5px 0 #F07798, -1px -1px 0 #F07798;
  }
  100% {
    text-shadow: 2.5px -2.5px 0 #F07798, 2px -2px 0 #F07798, 1.5px -1.5px 0 #F07798, 1px -1px 0 #F07798, -2.5px 2.5px 0 #FED6E1, -2px 2px 0 #FED6E1, -1.5px 1.5px 0 #FED6E1, -1px 1px 0 #FED6E1;
  }
}

@keyframes move {
  0% {
    text-shadow: 2.5px -2.5px 0 #F07798, 2px -2px 0 #F07798, 1.5px -1.5px 0 #F07798, 1px -1px 0 #F07798, -2.5px 2.5px 0 #FED6E1, -2px 2px 0 #FED6E1, -1.5px 1.5px 0 #FED6E1, -1px 1px 0 #FED6E1;
  }
  25% {
    text-shadow: -2.5px -2.5px 0 #FED6E1, -2px -2px 0 #FED6E1, -1.5px -1.5px 0 #FED6E1, -1px -1px 0 #FED6E1, 2.5px 2.5px 0 #F07798, 2px 2px 0 #F07798, 1.5px 1.5px 0 #F07798, 1px 1px 0 #F07798;
  }
  50% {
    text-shadow: -2.5px 2.5px 0 #F07798, -2px 2px 0 #F07798, -1.5px 1.5px 0 #F07798, -1px 1px 0 #F07798, 2.5px -2.5px 0 #FED6E1, 2px -2px 0 #FED6E1, 1.5px -1.5px 0 #FED6E1, 1px -1px 0 #FED6E1;
  }
  75% {
    text-shadow: 2.5px 2.5px 0 #FED6E1, 2px 2px 0 #FED6E1, 1.5px 1.5px 0 #FED6E1, 1px 1px 0 #FED6E1, -2.5px -2.5px 0 #F07798, -2px -2px 0 #F07798, -1.5px -1.5px 0 #F07798, -1px -1px 0 #F07798;
  }
  100% {
    text-shadow: 2.5px -2.5px 0 #F07798, 2px -2px 0 #F07798, 1.5px -1.5px 0 #F07798, 1px -1px 0 #F07798, -2.5px 2.5px 0 #FED6E1, -2px 2px 0 #FED6E1, -1.5px 1.5px 0 #FED6E1, -1px 1px 0 #FED6E1;
  }
}

.design-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.design-selection ul li {
  padding: 0.3rem;
}

.design-name {
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #373135;
}

@media only screen and (min-width: 1024px) {
  .design-name {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1600px) {
  .design-name {
    font-size: 1rem;
  }
}

.designer-name {
  font-family: "Gideon Roman", sans-serif;
  font-size: 1.2rem;
  color: #1ac6ff;
  text-shadow: 1px 1px 1px #373135, 2px 2px 2px #FED6E1, 2px 2px 2px #FED6E1;
}

@media only screen and (min-width: 1024px) {
  .designer-name {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1600px) {
  .designer-name {
    font-size: 1rem;
  }
}

.next a {
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #373135;
}

.indicator {
  font-size: 2rem;
  font-family: "Gideon Roman", sans-serif;
}

.viewall a {
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #373135;
}

.zen-resources {
  background-color: transparent;
}

.zen-resources ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0.7rem;
  margin: 0;
}

.zen-resources ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px #373135;
}

@media only screen and (min-width: 768px) {
  .zen-resources nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0.5rem;
  }
  .zen-resources nav ul li {
    border: solid 1px 1px #CE0052;
  }
  .zen-resources nav ul li a {
    text-decoration: none;
    padding: 0.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .zen-resources nav ul li a {
    font-size: 1.5rem;
  }
}

footer {
  text-align: center;
  background-color: #018D8C;
  padding: 1rem 0.5rem;
  margin: 1rem;
  border: 2px solid rgba(1, 141, 140, 0.95);
}

footer a {
  font-family: "Gowun Dodum", serif;
  color: #CE0052;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

footer a:visited {
  color: #1ac6ff;
}

footer a:hover {
  color: #FED6E1;
}

@media only screen and (min-width: 1024px) {
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    grid-row: 4;
    margin: 0;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1600px) {
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    grid-row: 4;
    margin: 0;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */