@import "partials/colors";
@import "partials/typography";
@import 'partials/layout'; // responsive grid and media queries

@mixin gridPat($color, $grid, $col1, $col2) {
    background-color: $color;
    display: $grid;
    grid-template-columns: $col1 $col2;
}

//part ivette
html {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    max-width: 100%;
}

body {
    min-height: 50vh;
    background-image: url("./image/texture_pink2_2048.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h3 {
    font-family: $font2;
    font-size: 35px;
    color: $color-5;
    text-align: center;
}

.page-wrapper {
    background-color: #fed6e173;
    width: 80%;
    margin: 0 auto;
    padding: 1.2em;
    display: flex;
    flex-direction: column;

    @include MQ(S) {
        @include gridPat(#fed6e198, grid, 5fr, 2fr)
    }

    @include MQ(M) {
        @include gridPat(transparent, grid, 6fr, 2fr)
    }

    @include MQ(L) {
        @include gridPat(transparent, grid, 6fr, 2fr)
    }
}

//part elena
.intro {

    @include MQ(S) {
        grid-column: 1/2;
        grid-row: 1;
    }
}

header {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

    h1 {
        font-family: $font3;
        font-size: 3rem;
        color: $color-6;
        text-shadow: 1px 1px 2px $color-5, 2px 2px 2px $color-2;
    }

    h2 {
        font-family: $font1;
        font-size: 2.5rem;
        color: $color-3;
        text-shadow: 2px 2px 2px $color-2, 2px 2px 2px $color-1, 2px 2px 2px $color-4;
        text-transform: uppercase;
        margin: 0;
        padding: 0;

        abbr {
            color: white;
            font-family: $font3;
            text-shadow: 3px 3px 3px $color-2, 3px 3px 3px $color-3, 3px 3px 3px $color-4;

        }
    }

    @include MQ(S) {
        box-sizing: content-box;
        padding-right: 1em;

        h1 {
            text-align: center;
            margin-bottom: 0;
            font-size: 3.3rem;
            margin-bottom: 1.5rem;
        }

        h2 {
            text-align: center;
            margin-top: 10px;
            font-size: 3rem;
        }

        abbr {
            font-size: 3.5rem;
        }
    }

    @include MQ(M) {
        box-sizing: content-box;
        padding-right: 1em;

        h1 {
            text-align: center;
            margin: 0;
            font-size: 5rem;
            padding: 0.5rem;
        }

        h2 {
            text-align: center;
            margin-top: 0;
            font-size: 4rem;
            letter-spacing: 1rem;
        }

        abbr {
            font-size: 5rem;
        }

    }
}

p {
    font-family: $font1;
}

.summary::before {
    content: url(./image/eye1.png);
    zoom: 10%;
    display: flex;
    justify-content: center;

    @include MQ(S) {
        zoom: 15%;
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem;

    }

    @include MQ(M) {
        zoom: 20%;
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem;
    }

}

.summary {
    margin: 1rem;
    p {
        text-transform: uppercase;
        text-align: justify;
        font-weight: bold;
        padding: 0.5rem;
        color: $color-1;
       

        abbr {
            font-size: 1.5rem;
            color: $color-4;
            text-shadow: 2px 2px 2px $color-3;
        }

        a {
            color: $color-5;
            text-shadow: 1px 1px 1px $color-1;
            text-decoration: none;
        }

        @include MQ(S) {
            text-align: left;
            padding: 0 2px;

        }
    }
}

.preamble::before {
    display: flex;
    justify-content: center;


    @include MQ(M) {
        content: url(./image/brush.png);
        zoom: 16%;
        width: 32%;
        position: absolute;
        left: -50rem;
        top: -20rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
    }


}

.preamble {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 1rem;
    border: 10px ridge $color-1;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    background-image: url('https://live.staticflickr.com/2389/1571741969_44af337500_c.jpg');
    background-position: center center;
    background-size: cover;
    backdrop-filter: grayscale(30%) brightness(50%);
    transition: all 1s ease 0s;

    h3 {
        color: $color-2;
        text-shadow: 1.5px 1.5px 2px $color-4;
        backdrop-filter: none;
    }

    p {
        color: $color-6;
        text-shadow: 1.5px 1.5px 1px $color-1;
        backdrop-filter: none;
        font-weight: bold;
    }
}



.explanation,
.participation,
.benefits,
.requirements {
    margin-top: 0;
    margin-bottom: 1em;
    padding: 1rem;

    h3,
    p {
        padding: 0 2px 0 2px;
        margin: 0;
    }

}

.main {
    grid-column: 1/2;
    grid-row: 2/6;
    background-color: black;
    border: 10px ridge $color-1;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    @include MQ(S) {}

    @include MQ(M) {
        border: 15px ridge $color-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include MQ(L) {
        border: 15px ridge $color-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.intro {

    @include MQ(S) {
        grid-column: 1/2;
        grid-row: 1;
    }
}

.explanation {
    width: 80%;
    height: auto;
    margin: 4% auto;
    padding: auto;
    background-color: rgba(227, 228, 229, 0.9);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(227, 228, 229, 0.8);
    outline: 5px solid rgba(227, 228, 229, 0.8);
    outline-offset: -7px;

    h3,
    abbr,
    a {
        color: rgba(227, 228, 229, 0.8);
        text-shadow: 1px 1px 2px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    @include MQ(S) {
        padding: auto;
    }

    @include MQ(M) {
        width: 90%;
        grid-column: 1/3;
        grid-row: 1;

    }
}

.participation::before {

    @include MQ(S) {
        content: url(./image/labial2.png);
        transform: rotate(270deg);
        zoom: 50%;
        width: 32%;
        position: absolute;
        left: 45rem;
        top: 15rem;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
    }
}

.participation {
    width: 80%;
    height: auto;
    margin: 4% auto;
    padding: auto;
    background-color: rgba(26, 198, 255, 0.9);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(26, 198, 255, 0.5);
    outline: 5px solid rgba(26, 198, 255, 0.7);
    outline-offset: -7px;

    h3,
    abbr,
    a {
        color: rgba(26, 198, 255, 0.8);
        text-shadow: 1px 1px 2px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    a {
        color: $color-5;
        text-decoration: none;
        text-shadow: 1px 1px 1px $color-1;

    }

    @include MQ(S) {
        max-width: 580px;
        
    }

    @include MQ(M) {
        width: 90%;
        grid-column: 3/5;
        grid-row: 1;

    }
}

.benefits {
    width: 80%;
    height: auto;
    margin: 4% auto;
    padding: auto;
    background-color: rgba(255, 102, 255, 0.85);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 102, 255, 0.5);
    outline: 5px solid rgba(255, 102, 255, 0.7);
    outline-offset: -7px;

    h3,
    abbr {
        color: rgba(255, 102, 255, 0.8);
        text-shadow: 1px 1px 1px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    @include MQ(S) {
        width: 94%;
        margin: 0 auto;
     
    }

    @include MQ(M) {
        width: 94%;
        grid-column: 1/5;
        grid-row: 2;

    }
}

.requirements {
    width: 80%;
    height: auto;
    margin: 4% auto;
    padding: auto;
    background-color: rgba(190, 158, 94, 0.85);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(190, 158, 94, 0.5);
    outline: 5px solid rgba(190, 150, 94, 0.7);
    outline-offset: -7px;

    h3,
    abbr,
    a {
        color: rgba(190, 150, 94, 0.8);
        text-shadow: 1px 1px 2px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    a {
        color: $color-5;
        text-decoration: none;
        text-shadow: 1px 1px 1px $color-1;
    }

    @include MQ(S) {}

    @include MQ(M) {
        width: 94%;
        margin: 1% auto;
        grid-column: 1/5;
        grid-row: 3;

    }

    @include MQ(L) {
        width: 94%;
        grid-column: 1/5;
        grid-row: 3;
    }
}

//siderbar
.sidebar {
    background-image: url("./image/bokeh-_640.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: $font1;
    margin: 0 -1.2rem;

    @include MQ(S) {
        grid-column: 2/3;
        grid-row: 1/19;
        margin: 0;
    }

}

.wrapper {
    padding: 1rem;
    font-size: 0.9rem;
    color: $color-1;
    font-weight: bold;

    @include MQ(S) {
        height: 140rem;
    }

}

.wrapper nav {
    background-color: transparent;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0.7rem;
        margin: 0;

        li {
            border: solid 1px 1px $color-2;

            a {
                text-decoration: none;
                padding: 0;
                margin: 0;
            }
        }
    }

    @include MQ(S) {
        nav {
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                list-style: none;
                padding: 0.5rem;

                li {
                    border: solid 1px 1px $color-2;

                    a {
                        text-decoration: none;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}

.select,
.archives,
.resources {
    cursor: default;
    margin: 0;
    padding: 0;
    display: block;
    font-family: $font2;
    text-transform: uppercase;
    color: $color-2;
    font-size: 1.3rem;
    text-align: center;
    line-height: 40px;
    animation: move linear 2000ms infinite;

    @include MQ(M) {
        font-size: 1.3rem;
    }

    @include MQ(L) {
        font-size: 1.8rem;
    }
}

@keyframes move {
    0% {
        text-shadow:
            2.5px -2.5px 0 $color-3,
            2px -2px 0 $color-3,
            1.5px -1.5px 0 $color-3,
            1px -1px 0 $color-3,
            -2.5px 2.5px 0 $color-4,
            -2px 2px 0 $color-4,
            -1.5px 1.5px 0 $color-4,
            -1px 1px 0 $color-4;
    }

    25% {
        text-shadow:
            -2.5px -2.5px 0 $color-4,
            -2px -2px 0 $color-4,
            -1.5px -1.5px 0 $color-4,
            -1px -1px 0 $color-4,
            2.5px 2.5px 0 $color-3,
            2px 2px 0 $color-3,
            1.5px 1.5px 0 $color-3,
            1px 1px 0 $color-3;
    }

    50% {
        text-shadow:
            -2.5px 2.5px 0 $color-3,
            -2px 2px 0 $color-3,
            -1.5px 1.5px 0 $color-3,
            -1px 1px 0 $color-3,
            2.5px -2.5px 0 $color-4,
            2px -2px 0 $color-4,
            1.5px -1.5px 0 $color-4,
            1px -1px 0 $color-4;
    }

    75% {
        text-shadow:
            2.5px 2.5px 0 $color-4,
            2px 2px 0 $color-4,
            1.5px 1.5px 0 $color-4,
            1px 1px 0 $color-4,
            -2.5px -2.5px 0 $color-3,
            -2px -2px 0 $color-3,
            -1.5px -1.5px 0 $color-3,
            -1px -1px 0 $color-3, ;
    }

    100% {
        text-shadow:
            2.5px -2.5px 0 $color-3,
            2px -2px 0 $color-3,
            1.5px -1.5px 0 $color-3,
            1px -1px 0 $color-3,
            -2.5px 2.5px 0 $color-4,
            -2px 2px 0 $color-4,
            -1.5px 1.5px 0 $color-4,
            -1px 1px 0 $color-4;
    }
}


.design-selection {
    display: flex;
    flex-direction: column;
    ul {
        li {
            padding: 0.3rem;

            a {}
        }
    }
}

.design-name {
    font-family: $font1;
    color: $color-3;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px $color-1;

    @include MQ(M) {
        font-size: 1rem;
    }

    @include MQ(L) {
        font-size: 1rem;
    }

}

.designer-name {
    font-family: $font2;
    font-size: 1.2rem;
    color: $color-6;
    text-shadow: 1px 1px 1px $color-1, 2px 2px 2px $color-4, 2px 2px 2px $color-4;

    @include MQ(M) {
        font-size: 1rem;
    }

    @include MQ(L) {
        font-size: 1rem;
    }
}


.next a {
    font-family: $font1;
    color: $color-3;
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 1px 1px 1px $color-1;

}

.indicator {
    font-size: 2rem;
    font-family: $font2;
}

.viewall a {
    font-family: $font1;
    color: $color-3;
    text-transform: uppercase;
    font-size: 1rem;
    text-shadow: 1px 1px 1px $color-1;
}


.zen-resources {
    background-color: transparent;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0.7rem;
        margin: 0;

        li {
            a {
                text-decoration: none;
                padding: 0;
                margin: 0;
                font-family: $font1;
                color: $color-3;
                text-transform: uppercase;
                font-size: 1.3rem;
                text-shadow: 1px 1px 1px $color-1;
            }
        }
    }

    @include MQ(S) {
        nav {
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                list-style: none;
                padding: 0.5rem;

                li {
                    border: solid 1px 1px $color-2;

                    a {
                        text-decoration: none;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }

    @include MQ(M) {
        nav {
            ul {
                li {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;
    background-color: $color-5;
    padding: 1rem 0.5rem;
    margin: 1rem;
    border: 2px solid rgba(1, 141, 140, 0.95);

    a {
        font-family: $font1;
        color: $color-2;
        margin-right: 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    a:visited {
        color: $color-6;
    }

    a:hover {
        color: $color-4;
    }

    @include MQ(S) {}

    @include MQ(M) {
        grid-column: 1/5;
        grid-row: 4;
        margin: 0;
        font-size: 2rem;
    }

    @include MQ(L) {
        grid-column: 1/5;
        grid-row: 4;
        margin: 0;
        font-size: 2rem;

    }
}