@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
html {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

body {
  min-height: 50vh;
  background-image: url("./image/texture_pink2_2048.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h3 {
  font-family: "Gideon Roman", sans-serif;
  font-size: 35px;
  color: #018D8C;
  text-align: center;
}

.page-wrapper {
  background-color: #fed6e173;
  width: 80%;
  margin: 0 auto;
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .page-wrapper {
    background-color: #fed6e198;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 2fr;
        grid-template-columns: 5fr 2fr;
  }
}

@media only screen and (min-width: 1024px) {
  .page-wrapper {
    background-color: transparent;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 2fr;
        grid-template-columns: 6fr 2fr;
  }
}

@media only screen and (min-width: 1600px) {
  .page-wrapper {
    background-color: yellow;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 6fr 2fr;
        grid-template-columns: 6fr 2fr;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0;
  padding: 0;
}

header h1 {
  font-family: "Merienda", cursive;
  font-size: 2rem;
  color: #1ac6ff;
  text-shadow: 1px 1px 2px #018D8C, 2px 2px 2px #CE0052;
  margin: 0;
  padding: 0;
}

header h2 {
  font-family: "Gowun Dodum", serif;
  font-size: 1.5rem;
  color: #F07798;
  text-shadow: 2px 2px 2px #CE0052, 2px 2px 2px #FED6E1;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  header {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    font-size: 40px;
    padding-right: 1em;
  }
  header h1 {
    text-align: center;
    margin-bottom: 0;
    font-size: 30px;
  }
  header h2 {
    text-align: center;
    margin-top: 10px;
  }
}

p {
  font-family: "Gowun Dodum", serif;
}

.summary > p {
  margin-top: 0;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .summary > p {
    text-align: center;
    padding: 0 2px;
    margin: 0;
  }
}

.summary::before {
  content: url(./image/eye1.png);
  zoom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .summary::before {
    content: url(./image/eye1.png);
    zoom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.preamble::before {
  content: url(./image/brush.png);
  zoom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .preamble::before {
    content: url(./image/brush.png);
    zoom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

.summary > p {
  text-transform: uppercase;
  padding: 0.5rem;
  color: #373135;
}

@media only screen and (min-width: 768px) {
  .summary > p {
    text-align: left;
    padding: 0 2px 0 2px;
    margin: 0;
  }
}

.preamble,
.explanation {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5px;
  border: 2px solid black;
}

.preamble h3,
.preamble p,
.explanation h3,
.explanation p {
  padding: 0 2px 0 2px;
  margin: 0;
}

.preamble {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5px;
  border: 2px solid black;
}

.preamble h3,
.preamble p {
  padding: 0 2px 0 2px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .explanation::before {
    content: url(./image/labial2.png);
    zoom: 30%;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
}

@media only screen and (min-width: 768px) {
  .explanation {
    max-width: 580px;
    margin-top: 2em;
  }
}

.summary::before {
  content: url(./image/eye1.png);
  zoom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .summary::before {
    content: url(./image/eye1.png);
    zoom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.summary > p {
  text-transform: uppercase;
  padding: 0.5rem;
  color: #373135;
}

@media only screen and (min-width: 768px) {
  .summary > p {
    text-align: left;
    padding: 0 2px 0 2px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .intro {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

@media only screen and (min-width: 768px) {
  .main {
    background-color: #FED6E1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.sidebar {
  background-image: url("./image/bokeh-_640.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Gowun Dodum", serif;
  margin: 0 -1.2rem;
}

@media only screen and (min-width: 768px) {
  .sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 18;
    grid-row: 1/19;
    margin: 0;
  }
}

.wrapper {
  padding: 1rem;
  font-size: 0.9rem;
  color: #373135;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    height: 140rem;
  }
}

.wrapper nav {
  background-color: transparent;
}

.wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0.7rem;
  margin: 0;
}

.wrapper nav ul li {
  border: solid 1px 1px #CE0052;
}

.wrapper nav ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .wrapper nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0.5rem;
  }
  .wrapper nav nav ul li {
    border: solid 1px 1px #CE0052;
  }
  .wrapper nav nav ul li a {
    text-decoration: none;
    padding: 0.2rem;
  }
}

.select,
.archives,
.resources {
  color: #CE0052;
  text-shadow: 1px 1px 1px #373135, 2px 2px 2px #F07798;
  text-transform: uppercase;
  font-size: 1.2rem;
}

@media only screen and (min-width: 1024px) {
  .select,
  .archives,
  .resources {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1600px) {
  .select,
  .archives,
  .resources {
    font-size: 1.8rem;
  }
}

.design-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.design-name {
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #373135;
}

.designer-name {
  font-family: "Gideon Roman", sans-serif;
  color: #018D8C;
  text-shadow: 1px 1px 1px #373135, 2px 2px 2px #FED6E1;
}

.next a {
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #373135;
}

.indicator {
  font-size: 2rem;
  font-family: "Gideon Roman", sans-serif;
}

.viewall a {
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #373135;
}

.zen-resources {
  background-color: transparent;
}

.zen-resources ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  list-style: none;
  padding: 0.7rem;
  margin: 0;
}

.zen-resources ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: "Gowun Dodum", serif;
  color: #F07798;
  text-transform: uppercase;
  font-size: 1rem;
  text-shadow: 1px 1px 1px #373135;
}

@media only screen and (min-width: 768px) {
  .zen-resources nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0.5rem;
  }
  .zen-resources nav ul li {
    border: solid 1px 1px #CE0052;
  }
  .zen-resources nav ul li a {
    text-decoration: none;
    padding: 0.2rem;
  }
}

footer {
  text-align: center;
  background-color: #018D8C;
  padding: 0.5rem;
  margin: 0 -1.2rem;
}

footer a {
  font-family: "Gowun Dodum", serif;
  color: #CE0052;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

footer a:visited {
  color: #1ac6ff;
}

footer a:hover {
  color: #FED6E1;
}
/*# sourceMappingURL=style.css.map */