@import "partials/colors";
@import "partials/typography";
@import 'partials/layout'; // responsive grid and media queries

@mixin gridPat($color, $grid, $col1, $col2) {
    background-color: $color;
    display: $grid;
    grid-template-columns: $col1 $col2;
}

@mixin look ($w, $h, $mtb, $mlr, $bc, $br) {
    width: $w;
    height: $h;
    margin: $mtb $mlr;
    background-color: $bc;
    border-radius: $br;
}

@mixin style ($f, $sz, $c, $tt) {
    font-family: $f;
    font-size: $sz;
    color: $c;
    text-transform: $tt;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    max-width: 100%;
}

body {
    min-height: 50vh;
    background-image: url("./image/texture_pink2_2048.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h3 {
    @include style ($font2, 1.2rem, $color-5, none);
    font-family: $font2;
    font-size: 35px;
    color: $color-5;
    text-align: center;
}

.page-wrapper {
    background-color: #fed6e173;
    width: 85%;
    margin: 0 auto;
    padding: 1.2em;
    display: flex;
    flex-direction: column;

    @include MQ(S) {
        @include gridPat(#fed6e198, grid, 5fr, 2fr)
    }

    @include MQ(M) {
        @include gridPat(transparent, grid, 6fr, 2fr)
    }

    @include MQ(L) {
        @include gridPat(transparent, grid, 6fr, 2fr)
    }
}

.intro {

    @include MQ(S) {
        grid-column: 1/2;
        grid-row: 1;
    }
}

header {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

    h1 {
        @include style ($font3, 3rem, $color-6, none);
        text-shadow: 1px 1px 2px $color-5,
            2px 2px 2px $color-2,
            3px 3px 2px $color-1,
            3px 3px 12px $color-2;
        animation: blur 2s ease-out infinite;
    }

    h2 {
        @include style ($font1, 2.2rem, $color-3, uppercase);
        text-shadow: 2px 2px 2px $color-2, 2px 2px 2px $color-2, 2px 2px 2px $color-4, 3px 3px 8px $color-1;
        margin: 0;
        padding: 0;

        abbr {
            color: white;
            font-family: $font3;
            text-shadow: 3px 3px 3px $color-2, 3px 3px 3px $color-3, 3px 3px 3px $color-4;

        }
    }

    @include MQ(S) {
        box-sizing: content-box;
        padding-right: 1em;

        h1 {
            text-align: center;
            font-size: 3.3rem;
            margin-bottom: 1.5rem;
        }

        h2 {
            text-align: center;
            margin-top: 10px;
            font-size: 3rem;
        }

        abbr {
            font-size: 3.5rem;
        }
    }

    @include MQ(M) {
        box-sizing: content-box;
        padding-right: 1em;

        h1 {
            text-align: center;
            margin: 0;
            font-size: 5rem;
            padding: 0.5rem;
        }

        h2 {
            text-align: center;
            margin-top: 0;
            font-size: 4rem;
            letter-spacing: 1rem;
        }

        abbr {
            font-size: 5rem;
        }

    }
}

@keyframes blur {
    from {
        text-shadow: 0px 0px 5px #fff,
            0px 0px 5px #fff,
            0px 0px 12.5px #fff,
            0px 0px 12.5px #fff,
            0px 0px 12.5px #fff,
            0px 0px 12.5px #fff,
            0px 0px 12.5px #fff,
            0px 0px 12.5px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #7B96B8,
            0px 0px 75px #7B96B8,
            0px 5px 50px #7B96B8,
            0px 5px 50px #7B96B8,
            0px 5px 50px #7B96B8,
            0px 5px 50px #7B96B8,
            0px -5px 50px #7B96B8,
            0px -5px 50px #7B96B8;
    }
}

p {
    font-family: $font1;
}

.summary::before {
    content: url(./image/eye1.png);
    zoom: 10%;
    display: flex;
    justify-content: center;

    @include MQ(S) {
        zoom: 15%;

    }

    @include MQ(M) {
        zoom: 18%;
    }

}

.summary {
    margin: 1rem;

    p {
        text: {
            transform: uppercase;
            align: justify;
        }

        font-weight: bold;
        padding: 0.5rem;
        color: $color-1;
        letter-spacing: .15rem;

        abbr {
            font-size: 1.3rem;
            color: $color-4;
            text-shadow: 2px 2px 2px $color-3, 2px 2px 2px $color-2, 3px 3px 1px $color-1;
        }

        a {
            color: $color-5;

            text: {
                shadow: 1px 1px 1px $color-1;
                decoration: none;
            }
        }

        @include MQ(S) {
            text-align: left;
            padding: 0 2px;

        }
    }
}

.preamble::before {
    display: flex;
    justify-content: center;


    @include MQ(S) {
        content: url(./image/brush.png);
        zoom: 13%;
        width: 50%;
        position: absolute;
        left: -50rem;
        top: 150rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        animation: orbit 3s linear infinite;
    }

    @include MQ(M) {
        content: url(./image/brush.png);
        zoom: 16%;
        width: 32%;
        position: absolute;
        left: -50rem;
        top: 150rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
    }
}

@keyframes orbit {
    0% {
        transform: translate(0, 0);
    }

    5% {
        transform: translate(0, 0);
    }

    /* don't change for 5% of the time...pause */
    25% {
        transform: translate(300%, 0%);
    }

    /* start moving again */
    30% {
        transform: translate(300%, 0%);
    }

    /* pause */
    50% {
        transform: translate(300%, 300%);
    }

    /* move */
    55% {
        transform: translate(300%, 300%);
    }

    75% {
        transform: translate(0%, 300%);
    }

    80% {
        transform: translate(0%, 300%);
    }

    100% {
        transform: translate(0%, 0%);
    }

}

@include MQ(S) {

    @keyframes orbit {
        0% {
            transform: translate(0, 0);
        }

        5% {
            transform: translate(0, 0);
        }

        /* don't change for 5% of the time...pause */
        25% {
            transform: translate(200%, -80%);
        }

        /* start moving again */
        30% {
            transform: translate(200%, -80%);
        }

        /* pause */
        50% {
            transform: translate(20%, 20%);
        }

        /* move */
        55% {
            transform: translate(20%, 20%);
        }

        75% {
            transform: translate(0%, 20%);
        }

        80% {
            transform: translate(0%, 20%);
        }

        100% {
            transform: translate(0%, 0%);
        }

    }
}

.preamble {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 1rem;
    border: 10px ridge $color-1;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    background-image: url('https://live.staticflickr.com/2389/1571741969_44af337500_c.jpg');
    background-position: center center;
    background-size: cover;
    //   backdrop-filter: grayscale(30%) brightness(50%);
    transition: all 1s ease 0s;

    h3 {
        color: $color-2;
        text-shadow: 1.5px 1.5px 2px $color-4;
        backdrop-filter: none;
    }

    p {
        color: $color-6;
        text-shadow: 1.5px 1.5px 1px $color-1, 2px 2px 3px $color-1;
        backdrop-filter: none;
        font-weight: bold;
    }
}

.explanation,
.participation,
.benefits,
.requirements {

    h3,
    p {
        padding: 2px 0.8rem;
        margin: 0;
    }

    h3 {
        font-size: 2rem;
    }

}

.main {
    grid-column: 1/2;
    grid-row: 2/6;
    background-color: black;
    border: 10px ridge $color-1;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    @include MQ(S) {
        border: 15px ridge $color-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include MQ(M) {
        border: 15px ridge $color-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include MQ(L) {
        border: 15px ridge $color-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.intro {

    @include MQ(S) {
        grid-column: 1/2;
        grid-row: 1;
    }
}


.explanation {
    @include look(94%, auto, 4%, auto, rgba(227, 228, 229, 0.9), 15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(227, 228, 229, 0.8);
    outline: 5px solid rgba(227, 228, 229, 0.8);
    outline-offset: -7px;

    h3,
    abbr,
    a {
        color: rgba(227, 228, 229, 0.8);
        text-shadow: 1px 1px 2px $color-1, 1px 1px 2px $color-1, 1px 1px 2px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    @include MQ(S) {
        max-width: 94%;
        grid-column: 1/3;
        grid-row: 1;
    }

    @include MQ(M) {
        width: 94%;
        grid-column: 1/3;
        grid-row: 1;
    }

    @include MQ(L) {
        width: 94%;
        grid-column: 1/3;
        grid-row: 1;
    }
}

.participation::before {

    @include MQ(S) {
        content: url(./image/labial2.png);
        transform: rotate(270deg);
        zoom: 50%;
        width: 32%;
        position: absolute;
        left: 45rem;
        top: 15rem;
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        animation: orbit1 3s linear infinite;
    }
}

@keyframes orbit1 {
    0% {
        transform: translate(0, 0);
    }

    5% {
        transform: translate(0, 0);
    }

    /* don't change for 5% of the time...pause */
    25% {
        transform: translate(0, -300%);
    }

    /* start moving again */
    30% {
        transform: translate(0, -300%);
    }

    /* pause */
    50% {
        transform: translate(-50%, -300%);
    }

    /* move */
    55% {
        transform: translate(-70%, -300%);
    }

    75% {
        transform: translate(0%, -300%);
    }

    80% {
        transform: translate(0%, -300%);
    }

    100% {
        transform: translate(0%, 0%);
    }

}

@include MQ(S) {

    @keyframes orbit1 {
        0% {
            transform: translate(0, 0);
        }

        5% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(0, -100%);
        }

        /* start moving again */
        30% {
            transform: translate(0, -100%);
        }

        /* pause */
        50% {
            transform: translate(-300%, -100%);
        }

        /* move */
        55% {
            transform: translate(-150%, -100%);
        }

        75% {
            transform: translate(0%, -100%);
        }

        80% {
            transform: translate(0%, -100%);
        }

        100% {
            transform: translate(0%, 0%);
        }
    }
}
@include MQ(M) {

    @keyframes orbit1 {
        0% {
            transform: translate(0, 0);
        }

        5% {
            transform: translate(0, 0);
        }

        25% {
            transform: translate(0, -50%);
        }

        /* start moving again */
        30% {
            transform: translate(0, -100%);
        }

        /* pause */
        50% {
            transform: translate(-150%, -100%);
        }

        /* move */
        55% {
            transform: translate(-150%, -100%);
        }

        75% {
            transform: translate(0%, -100%);
        }

        80% {
            transform: translate(0%, -100%);
        }

        100% {
            transform: translate(0%, 0%);
        }
    }
}

.participation {
    @include look(94%, auto, 4%, auto, rgba(26, 198, 255, 0.9), 15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(26, 198, 255, 0.5);
    outline: 5px solid rgba(26, 198, 255, 0.7);
    outline-offset: -7px;

    h3,
    abbr,
    a {
        color: rgba(26, 198, 255, 0.8);
        text-shadow: 1px 1px 2px $color-1, 1px 1px 2px $color-1, 1px 1px 2px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    a {
        color: $color-5;
        text-decoration: none;
        text-shadow: 1px 1px 1px $color-1;

    }

    @include MQ(S) {
        width: 96%;
        grid-column: 3/5;
        grid-row: 1;

    }

    @include MQ(M) {
        width: 96%;
        grid-column: 3/5;
        grid-row: 1;

    }

    @include MQ(L) {
        width: 96%;
        grid-column: 3/5;
        grid-row: 1;

    }
}

.benefits {
    @include look(94%, auto, 4%, auto, rgba(255, 102, 255, 0.85), 15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 102, 255, 0.5);
    outline: 5px solid rgba(255, 102, 255, 0.7);
    outline-offset: -7px;

    h3,
    abbr {
        color: rgba(255, 102, 255, 0.8);
        text-shadow: 1px 1px 2px $color-1, 1px 1px 2px $color-1, 1px 1px 1px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    @include MQ(S) {
        width: 98%;
        margin: 0 auto;
        grid-column: 1/5;
        grid-row: 2;

    }

    @include MQ(M) {
        width: 98%;
        grid-column: 1/5;
        grid-row: 2;

    }

    @include MQ(M) {
        width: 98%;
        grid-column: 1/5;
        grid-row: 2;

    }
}


.requirements {
    @include look(94%, auto, 4%, auto, rgba(190, 158, 94, 0.85), 15px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(190, 158, 94, 0.5);
    outline: 5px solid rgba(190, 150, 94, 0.7);
    outline-offset: -7px;

    h3,
    abbr,
    a {
        color: rgba(190, 150, 94, 0.8);
        text-shadow: 1px 1px 2px $color-1, 1px 1px 2px $color-1, 1px 1px 2px $color-1;
    }

    abbr {
        font-size: 1.3rem;
    }

    a {
        color: $color-5;
        text-decoration: none;
        text-shadow: 1px 1px 1px $color-1;
    }

    @include MQ(S) {
        width: 98%;
        margin: 1% auto;
        grid-column: 1/5;
        grid-row: 3;
    }

    @include MQ(M) {
        width: 98%;
        margin: 1% auto;
        grid-column: 1/5;
        grid-row: 3;

    }

    @include MQ(L) {
        width: 98%;
        grid-column: 1/5;
        grid-row: 3;
    }
}

//siderbar
.sidebar {
    background-image: url("./image/bokeh-_640.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: $font1;
    margin: 0 -1.2rem;

    @include MQ(S) {
        grid-column: 2/3;
        grid-row: 1/19;
        margin: 0;
    }

}

.zen-resources::before {
    content: url(https://img.icons8.com/dusk/64/000000/flower-doodle.png);
    display: flex;
    justify-content: center;
}

.wrapper {
    padding: 1rem 0;
    font-size: 0.9rem;
    color: $color-1;
    font-weight: bold;

    @include MQ(S) {
        height: 140rem;
    }



}

.wrapper nav {
    background-color: transparent;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0.7rem;
        margin: 0;

        li {
            border: solid 1px 1px $color-2;

            a {
                text-decoration: none;
                padding: 0;
                margin: 0;
            }
        }
    }

    @include MQ(S) {
        nav {
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                list-style: none;
                padding: 0.5rem;

                li {
                    border: solid 1px 1px $color-2;

                    a {
                        text-decoration: none;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}

.select,
.archives,
.resources {
    cursor: default;
    margin: 0;
    padding: 0;
    display: block;
    @include style ($font2, 1.3rem, $color-2, uppercase);
    text-align: center;
    line-height: 40px;
    animation: move linear 2000ms infinite;

    @include MQ(M) {
        font-size: 1.3rem;
    }

    @include MQ(L) {
        font-size: 1.8rem;
    }
}

@keyframes move {
    0% {
        text-shadow:
            2.5px -2.5px 0 $color-3,
            2px -2px 0 $color-3,
            1.5px -1.5px 0 $color-3,
            1px -1px 0 $color-3,
            -2.5px 2.5px 0 $color-4,
            -2px 2px 0 $color-4,
            -1.5px 1.5px 0 $color-4,
            -1px 1px 0 $color-4;
    }

    25% {
        text-shadow:
            -2.5px -2.5px 0 $color-4,
            -2px -2px 0 $color-4,
            -1.5px -1.5px 0 $color-4,
            -1px -1px 0 $color-4,
            2.5px 2.5px 0 $color-3,
            2px 2px 0 $color-3,
            1.5px 1.5px 0 $color-3,
            1px 1px 0 $color-3;
    }

    50% {
        text-shadow:
            -2.5px 2.5px 0 $color-3,
            -2px 2px 0 $color-3,
            -1.5px 1.5px 0 $color-3,
            -1px 1px 0 $color-3,
            2.5px -2.5px 0 $color-4,
            2px -2px 0 $color-4,
            1.5px -1.5px 0 $color-4,
            1px -1px 0 $color-4;
    }

    75% {
        text-shadow:
            2.5px 2.5px 0 $color-4,
            2px 2px 0 $color-4,
            1.5px 1.5px 0 $color-4,
            1px 1px 0 $color-4,
            -2.5px -2.5px 0 $color-3,
            -2px -2px 0 $color-3,
            -1.5px -1.5px 0 $color-3,
            -1px -1px 0 $color-3, ;
    }

    100% {
        text-shadow:
            2.5px -2.5px 0 $color-3,
            2px -2px 0 $color-3,
            1.5px -1.5px 0 $color-3,
            1px -1px 0 $color-3,
            -2.5px 2.5px 0 $color-4,
            -2px 2px 0 $color-4,
            -1.5px 1.5px 0 $color-4,
            -1px 1px 0 $color-4;
    }
}


.design-selection {
    display: flex;
    flex-direction: column;

    ul {
        li {
            padding: 0.3rem;
        }
    }
}

.design-name {

    @include style ($font1, 1.2rem, $color-3, uppercase);
    text-shadow: 1px 1px 1px $color-1;

    @include MQ(M) {
        font-size: 1rem;
    }

    @include MQ(L) {
        font-size: 1rem;
    }

    &:hover {
        color: $color-6
    }
}

.designer-name {
    @include style ($font2, 1.2rem, $color-6, none);
    text-shadow: 1px 1px 1px $color-1, 2px 2px 2px $color-4, 2px 2px 2px $color-4;

    @include MQ(M) {
        font-size: 1rem;
    }

    @include MQ(L) {
        font-size: 1rem;
    }

    &:hover {
        color: $color-6
    }
}


.next a {
    @include style ($font1, 1rem, $color-3, uppercase);
    text-shadow: 1px 1px 1px $color-1;

    &:hover {
        color: $color-6
    }
}

.indicator {
    font-size: 2rem;
    font-family: $font2;
}

.viewall a {
    @include style ($font1, 1rem, $color-3, uppercase);
    text-shadow: 1px 1px 1px $color-1;

    &:hover {
        color: $color-6
    }
}


.zen-resources {
    background-color: transparent;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0.7rem;
        margin: 0;

        li {
            a {
                text-decoration: none;
                padding: 0;
                margin: 0;
                @include style ($font1, 1.3rem, $color-3, uppercase);
                text-shadow: 1px 1px 1px $color-1;

                &:hover {
                    color: $color-6
                }
            }
        }
    }

    @include MQ(S) {
        nav {
            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                list-style: none;
                padding: 0.5rem;

                li {
                    border: solid 1px 1px $color-2;

                    a {
                        text-decoration: none;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }

    @include MQ(M) {
        nav {
            ul {
                li {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    &:hover {
        color: $color-6
    }
}

footer {
    text-align: center;
    background-color: #000;
    padding: 1rem 0.5rem;
    margin: 1rem;
    border: 2px solid $color-1;

    a {
        @include style ($font1, 2rem, $color-2, uppercase);
        text-shadow: 1px 1px 1px $color-1, 2px 2px 1px $color-1, 1px 1px 8px $color-4;
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    a:visited {
        color: $color-6;
    }

    a:hover {
        color: $color-4;
    }

    @include MQ(S) {
        grid-column: 1/5;
        grid-row: 4;
        margin: 0;
        font-size: 2rem
    }

    @include MQ(M) {
        grid-column: 1/5;
        grid-row: 4;
        margin: 0;
        font-size: 2rem;
    }

    @include MQ(L) {
        grid-column: 1/5;
        grid-row: 4;
        margin: 0;
        font-size: 2rem;

    }
}